
<div *ngIf="!loading">
    <h1>Completed Todos</h1>

    <table *ngFor="let t of todos" class="todo-container">
        <tr class="todo">
            <td>{{t.title}}</td>
            <td><button (click)="findTodo(t)">Delete</button></td>
        </tr>
    </table>

    <div *ngIf="noTodo" class="noTodo-div">
        <h3>No completed tasks found!</h3>
    </div>
</div>


<div *ngIf="loading" class="loading-div">
    <h3>Loading Task</h3><div class="lds-ellipsis"><div></div><div></div><div></div><div></div>
</div>
